@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ******************************************************** */

html {
  background: #f6f6f6;
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #5f5f5f;
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #222;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  text-align: left;
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.product_section {
  background: #f6f6f6;
  width: 100%;
  height: auto;
  padding-top: 22px;
}

/* @media only screen and (max-width: 768px) {
  .product_section {

  }
} */

.product_info {
  width: 100%;
  height: auto;
  padding: 50px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #d6d6d6;
}

.product_img {
  width: 100%;
  height: auto;
  border: 1px solid #ededed;
  position: relative;
  padding: 12px;
  border-radius: 16px !important;
  box-shadow: 1px 4px 13px #e4e2e2;
}

.product_text {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 50px;
}

.product_fields {
  width: 100%;
  margin: 0;
  height: auto;
  padding-bottom: 18px;
  padding-top: 18px;
}

.icon_outer {
  height: 60px !important;
  width: 60px !important;
  background: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  box-shadow: 0 0 14px #e4e2e2;
}

.icon_inner {
  height: 50px !important;
  width: 50px !important;
  background: #f4f4f4;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  max-width: 35px !important;
}

.field_section {
  margin-bottom: 25px;
}

.field_desc {
  padding-bottom: 0;
  padding-top: 0;
}

.field_p {
  font-size: 16px;
  line-height: 18px;
}

.field_h2 {
  font-size: 18px;
  line-height: 23px;
}
